# Pandas DataFrame Oluşturma

pd.DataFrame()

* DataFrame oluşturabiliriz.
* columns parametresi ile kolon isimlerini belirleyebiliriz.
* index parametresi ile index isimlerini belirleyebiliriz.

In [7]:
import pandas as pd
import numpy as np

s1 = np.random.randint(10, size=5)
s2 = np.random.randint(10, size=5)
s3 = np.random.randint(10, size=5)

In [8]:
sozluk = {"var1" : s1, "var2" : s2, "var3" : s3}
df = pd.DataFrame(sozluk)

In [9]:
df

   var1  var2  var3
0     7     3     1
1     5     0     0
2     7     9     6
3     9     6     4
4     7     1     7

In [10]:
df[0:1]

   var1  var2  var3
0     7     3     1

In [11]:
df.index = ["a","b","c","d","e"]

In [12]:
df

   var1  var2  var3
a     7     3     1
b     5     0     0
c     7     9     6
d     9     6     4
e     7     1     7

In [13]:
df[0:1]

   var1  var2  var3
a     7     3     1

In [14]:
df["c":"e"]

   var1  var2  var3
c     7     9     6
d     9     6     4
e     7     1     7

* df.drop() ile kolon veya satır silme işlemi yapabiliriz.
* axis=1 ile kolon silme işlemi yapabiliriz.
* axis=0 ile satır silme işlemi yapabiliriz.

In [15]:
df.drop("a",axis=0)

   var1  var2  var3
b     5     0     0
c     7     9     6
d     9     6     4
e     7     1     7

In [16]:
df

   var1  var2  var3
a     7     3     1
b     5     0     0
c     7     9     6
d     9     6     4
e     7     1     7

inplace parametresi ile değişikliği kalıcı kaydetme işlemi yapabiliriz. Diğer durumlarda değişiklikler geçici olarak kaydedilir.

In [17]:
df.drop("a",inplace=True)

In [18]:
df

   var1  var2  var3
b     5     0     0
c     7     9     6
d     9     6     4
e     7     1     7

In [19]:
l = ["var1","var2","var3"]
for i in l:
    print(i in l)

True
True
True

In [23]:
df["var4"] = df["var1"] / df["var2"]
df

   var1  var2  var3      var4
b     5     0     0       inf
c     7     9     6  0.777778
d     9     6     4  1.500000
e     7     1     7  7.000000

In [27]:
df["var4"] = df["var1"] / df["var2"]
df.drop("var4",axis=1,inplace=True)
df

   var1  var2  var3
b     5     0     0
c     7     9     6
d     9     6     4
e     7     1     7

In [29]:
l = ["var1","var2"]
df.drop(l,axis=1)

   var3
b     0
c     6
d     4
e     7

# Gözlem ve Değişken Seçimi

In [1]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30,size=(10,3))
df = pd.DataFrame(m,columns=["var1","var2","var3"])
df

   var1  var2  var3
0    13    29    23
1     5    11    29
2    14     4    19
3    21     1     2
4    15    29    27
5     1    19    11
6    15    13    16
7    25     2     3
8     1    26    27
9     8    20     9

# iloc

* Alışık olduğumuz indexleme mantığıyla seçim yapmak için kullanılır.

In [2]:
df.iloc[0:3]

   var1  var2  var3
0    13    29    23
1     5    11    29
2    14     4    19

In [3]:
df.iloc[0,0]

np.int32(13)

In [4]:
df.iloc[:3,:2]

   var1  var2
0    13    29
1     5    11
2    14     4

In [5]:
df.loc[0:3,"var3"]

0    23
1    29
2    19
3     2
Name: var3, dtype: int32

In [6]:
df.iloc[0:3,0:2]

   var1  var2
0    13    29
1     5    11
2    14     4

# Koşullu Eleman İşlemleri

In [7]:
df[df.var1 > 15]

   var1  var2  var3
3    21     1     2
7    25     2     3

In [8]:
df[df.var1 % 2 == 0]

   var1  var2  var3
2    14     4    19
9     8    20     9

In [9]:
df.loc[(df.var1 > 15) & (df.var3 < 15), "var2"]

3    1
7    2
Name: var2, dtype: int32

In [10]:
df

   var1  var2  var3
0    13    29    23
1     5    11    29
2    14     4    19
3    21     1     2
4    15    29    27
5     1    19    11
6    15    13    16
7    25     2     3
8     1    26    27
9     8    20     9

In [11]:
df.query("var1 > 15 & var3 < 15")

   var1  var2  var3
3    21     1     2
7    25     2     3

# Birleştirme (Join) İşlemleri

In [12]:
df2 = df + 99
df2

   var1  var2  var3
0   112   128   122
1   104   110   128
2   113   103   118
3   120   100   101
4   114   128   126
5   100   118   110
6   114   112   115
7   124   101   102
8   100   125   126
9   107   119   108

.concat() fonksiyonu ile iki dataframe'i birleştirebiliriz. ignore_index parametresi ile indexleri sıfırlayabiliriz.

join parametresi ile hangi kolon üzerinden birleştirileceğini belirleyebiliriz.

In [13]:
pd.concat([df,df2])

   var1  var2  var3
0    13    29    23
1     5    11    29
2    14     4    19
3    21     1     2
4    15    29    27
5     1    19    11
6    15    13    16
7    25     2     3
8     1    26    27
9     8    20     9
0   112   128   122
1   104   110   128
2   113   103   118
3   120   100   101
4   114   128   126
5   100   118   110
6   114   112   115
7   124   101   102
8   100   125   126
9   107   119   108

In [14]:
pd.concat([df,df2], ignore_index=True)

    var1  var2  var3
0     13    29    23
1      5    11    29
2     14     4    19
3     21     1     2
4     15    29    27
5      1    19    11
6     15    13    16
7     25     2     3
8      1    26    27
9      8    20     9
10   112   128   122
11   104   110   128
12   113   103   118
13   120   100   101
14   114   128   126
15   100   118   110
16   114   112   115
17   124   101   102
18   100   125   126
19   107   119   108

In [18]:
df2.columns = ["var1", "var2", "var3"]  
pd.concat([df, df2], join="inner")

   var1  var2  var3
0    13    29    23
1     5    11    29
2    14     4    19
3    21     1     2
4    15    29    27
5     1    19    11
6    15    13    16
7    25     2     3
8     1    26    27
9     8    20     9
0   112   128   122
1   104   110   128
2   113   103   118
3   120   100   101
4   114   128   126
5   100   118   110
6   114   112   115
7   124   101   102
8   100   125   126
9   107   119   108

# İleri Birleştirme İşlemleri

In [3]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({"Çalışanlar": ["Ahmet","Emirhan","Berkcan","Eslem"],
                    "Grup": ["Koordinatör","Full Time Çalışan","Eğitim Koordinatörü","İş Geliştirme"]})
df1

  Çalışanlar                 Grup
0      Ahmet          Koordinatör
1    Emirhan    Full Time Çalışan
2    Berkcan  Eğitim Koordinatörü
3      Eslem        İş Geliştirme

In [7]:
df2 = pd.DataFrame({"Çalışanlar": ["Ahmet","Emirhan","Berkcan","Eslem"], 
                    "İlk Giriş Yılı" : [2021,2019,2022,2018]  })
df2

  Çalışanlar  İlk Giriş Yılı
0      Ahmet            2021
1    Emirhan            2019
2    Berkcan            2022
3      Eslem            2018

# .merge()
* .merge() fonskiyonu ile birebir birleştirme işlemlerini gerçekleştirebiliriz.
* Merge komutu ile yapılan işlemlerin SQL'de bulunan inner join, outer join ...'e benzetebiliriz.

In [8]:
pd.merge(df1,df2)

  Çalışanlar                 Grup  İlk Giriş Yılı
0      Ahmet          Koordinatör            2021
1    Emirhan    Full Time Çalışan            2019
2    Berkcan  Eğitim Koordinatörü            2022
3      Eslem        İş Geliştirme            2018

In [9]:
pd.merge(df1,df2,on = "Çalışanlar")

  Çalışanlar                 Grup  İlk Giriş Yılı
0      Ahmet          Koordinatör            2021
1    Emirhan    Full Time Çalışan            2019
2    Berkcan  Eğitim Koordinatörü            2022
3      Eslem        İş Geliştirme            2018

# Toplulaştırma ve Gruplama İşlemleri (Aggregation & Grouping)

### Basit toplulaştırma İşlemleri
* count(): Eleman sayısı
* first(), last(): İlk ve son eleman
* mean(), median(): Ortalama ve medyan
* min(), max(): Minimum ve maksimum değer
* std(), var(): Standart sapma ve varyans
* sum(): Toplam değer

In [14]:
import pandas as pd
import seaborn as sns

In [10]:
import seaborn as sns

df = sns.load_dataset("planets")
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [11]:
df.shape

(1035, 6)

In [12]:
df.count()

method            1035
number            1035
orbital_period     992
mass               513
distance           808
year              1035
dtype: int64

In [17]:
df.mean()

TypeError: Could not convert ['Radial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingImagingImagingEclipse Timing VariationsImagingImagingImagingImagingEclipse Timing VariationsEclipse Timing VariationsEclipse Timing VariationsEclipse Timing VariationsEclipse Timing VariationsEclipse Timing VariationsEclipse Timing VariationsEclipse Timing VariationsRadial VelocityRadial VelocityImagingRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingImagingImagingImagingImagingImagingImagingImagingRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingImagingTransitTransitTransitTransitTransitTransitTransitRadial VelocityTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitAstrometryRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityTransitRadial VelocityRadial VelocityRadial VelocityImagingTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitRadial VelocityTransitTransitTransitTransitRadial VelocityTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitRadial VelocityTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityAstrometryRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityRadial VelocityImagingRadial VelocityRadial VelocityRadial VelocityImagingRadial VelocityRadial VelocityRadial VelocityImagingImagingImagingImagingTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransit Timing VariationsTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitRadial VelocityTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransit Timing VariationsTransitTransitTransitTransitTransitRadial VelocityTransitTransitTransitTransitTransitTransitTransit Timing VariationsTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitRadial VelocityTransitTransitOrbital Brightness ModulationOrbital Brightness ModulationTransitTransitTransitOrbital Brightness ModulationTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransit Timing VariationsTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitRadial VelocityTransitRadial VelocityTransitTransitTransitRadial VelocityTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitRadial VelocityTransitTransitTransitTransitTransitTransitImagingTransitMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingRadial VelocityRadial VelocityRadial VelocityRadial VelocityMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingMicrolensingTransitTransitTransitTransitTransitTransitTransitTransitImagingTransitRadial VelocityRadial VelocityPulsar TimingPulsar TimingPulsar TimingPulsar TimingPulsar TimingTransitTransitImagingImagingImagingTransitTransitTransitTransitTransitTransitImagingPulsation Timing VariationsTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitTransitImagingTransitImagingTransitTransitTransitTransitTransit'] to numeric

In [18]:
df["mass"].mean()

np.float64(2.6381605847953216)

In [19]:
df["mass"].count()

np.int64(513)

In [20]:
df["mass"].min()

np.float64(0.0036)

In [21]:
df["mass"].max()

np.float64(25.0)

In [22]:
df["mass"].sum()

np.float64(1353.37638)

In [23]:
df["mass"].std()

np.float64(3.8186166509616046)

In [24]:
df["mass"].var()

np.float64(14.58183312700122)

In [25]:
df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [26]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
number,1035.0,1.785507,1.240976,1.000000,1.00000,1.0000,2.000,7.0
orbital_period,992.0,2002.917596,26014.728304,0.090706,5.44254,39.9795,526.005,730000.0
mass,513.0,2.638161,3.818617,0.003600,0.22900,1.2600,3.040,25.0
distance,808.0,264.069282,733.116493,1.350000,32.56000,55.2500,178.500,8500.0
year,1035.0,2009.070531,3.972567,1989.000000,2007.00000,2010.0000,2012.000,2014.0

In [28]:
df.dropna().describe().T

,count,mean,std,min,25%,50%,75%,max
number,498.0,1.734940,1.175720,1.0000,1.00000,1.000,2.0000,6.0
orbital_period,498.0,835.778671,1469.128259,1.3283,38.27225,357.000,999.6000,17337.5
mass,498.0,2.509320,3.636274,0.0036,0.21250,1.245,2.8675,25.0
distance,498.0,52.068213,46.596041,1.3500,24.49750,39.940,59.3325,354.0
year,498.0,2007.377510,4.167284,1989.0000,2005.00000,2009.000,2011.0000,2014.0

# Gruplama İşlemleri (Grouping)

In [34]:
df = pd.DataFrame({"gruplar": ["A","B","C","A","B","C"],
                   "veri" : [10,11,52,43,53,55,]})
df

  gruplar  veri
0       A    10
1       B    11
2       C    52
3       A    43
4       B    53
5       C    55

Gruplama işlemi veri setinde yer alan kategorik değişkenlerin gruplarının yakalanması ve gruplar özelinde gruplama işlemlerinin yapılması işlemidir.

In [36]:
df.groupby("gruplar").mean()

         veri
gruplar
A        26.5
B        32.0
C        53.5

In [37]:
df.groupby("gruplar").sum()

         veri
gruplar
A          53
B          64
C         107